<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Kajas Hairstyles</title>
</head>
<body>
    <header>
        <a href="/"><img src="../static/slike/logoTransparent.png" height="150" alt="logo"></a>
        <div>
            <button type="button" onclick="window.location.href='/rezervacija'">Rezerviraj termin</a></button>
            <button type="button" onclick="window.location.href='/onas'">O nas</button>
            <button type="button" onclick="window.location.href='/kontakt'">Kontakt</button>
        </div>
        <div class="prijava">
            <button type="button" onclick="window.location.href='/prijava'">Prijava/Registracija</a></button>
        </div>
    </header>
</body>
</html>