<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Galerija - Kajas Hairstyles</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <a href="/"><img src="../static/slike/logoTransparent.png" height="150" alt="logo"></a>
        <nav>
            <button type="button" onclick="window.location.href='/'">Domov</button>
            <button type="button" onclick="window.location.href='/rezervacija'">Rezerviraj termin</button>
            <button onclick="window.location.href='/slike'">Galerija</button>
            <button type="button" onclick="window.location.href='/onas'">O nas</button>
            <button type="button" onclick="window.location.href='/blog'">Blog</button>
            {% if session.get('admin') %}
                <button type="button" onclick="window.location.href='/vsa-sporocila'">Vsa sporočila</button>
                <button type="button" onclick="window.location.href='/vse-rezervacije'">Vse rezervacije</button>
            {% endif %}
        </nav>
        <div class="prijava">
            {% if 'uporabnik' in session %}
                <p>Pozdravljen, {{ session['uporabnik'] }}!</p>
                <a href="{{ url_for('odjava') }}">Odjava</a>
            {% else %}
                <a href="{{ url_for('prijava') }}">Prijava</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% for kategorija, slike in slike_po_kategorijah.items() %}
            <h2 id="{{ kategorija|lower }}">{{ kategorija }}</h2>
            <div class="galerija">
                {% for slika in slike %}
                    <img src="{{ url_for('static', filename=slika.split('static/')[1]) }}" alt="{{ kategorija }}">
                {% endfor %}
            </div>
        {% endfor %}
    </main>
</body>
</html>